{
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": ["react"],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules" : {
    	"no-console":"off",
    	"no-alert":"off",
    	"react/no-render-return-value" : "off"
    }
}